body{
	font-family: Arial, tahoma, verdana, arial;
}
	
.mainContainer{
	font-size: 12px;
}

.dom{
	width: 110px;
	margin-right: 3px;
	overflow: hidden;
	float: left;
}

#dBigger{
	width:462px;
	height:149px;
	position:relative;
	left:-10px;
	top:-10px;
}

h1, h2, h3, h4, h5, h6{
	border-bottom: 1px solid #b0b0b0;
	}

.err{
    width: 110px;
    margin-right: 3px;
    overflow: hidden;
    float: left;
    color: red;
}

.contact{
	text-style: uppercase;
}
.subContainer{
	margin-botton: 12px;
}