body{
	font-family: Arial, tahoma, verdana, arial;
}

#infobox {
	position: relative;
	width: 50%;
	float: left;
}

#datepicker {
	position: relative;
	float: right;
}

.mainContainer{
	font-size: 12px;
	padding:20px;
	border:1px solid #e0e0e0;
	position:absolute;
	left:50%;
	width:800px;
	margin-left:-400px;
	margin-top:50px;
}

.divbut{
	border:1px solid black;
	width:800px;
	height:50px;
}

.dom, .okDom, .warningDom, .errDom{
	/*border: 1px solid black;*/
	position: inherit;
	padding: 2px;
	width: 180px;
	margin: 1px;
	overflow: hidden;
	float: left;
	height: 20px;
	z-index: 101;
}

.dom{
	background-color: #A0FFA0;
}

.okDom{
	background-color: #30FF30;
}

.errDom{
	background-color: #FF4040;
}


#dBigger{
	width:462px;
	height:149px;
	position:relative;
	left:-10px;
	top:-10px;
	display:none;
	
}

			
.err{
   width: 185px;
   margin-right: 3px;
   overflow: hidden;
   float: left;
   color: red;
   
}
			
h1, h2, h3, h4, h5, h6{
	border-bottom: 1px solid #b0b0b0;
}
			
.contact{
	text-style: uppercase;
}
			
.subContainer{
	overflow: hidden;
	margin-botton: 12px;
	width: 760px;

}

a{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: #0000FF;
	text-decoration: underline;
}
